@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.phrases{
    /*display: flex;
    flex-direction: row;*/
}
.phrase{
    cursor: pointer;
    margin-top:20px;
    margin-bottom:20px;
    background-color: rgba(0,0,255,0.3);
    font-size:1em;
    min-height: 40px;
    flex: 0 1 500px;
}

.phrase_active{
    // font-size:2em;
    font-weight: bold;
    background-color: rgba(0,0,255,0.6);
}

#speed{
    width:150px;
    height:150px;
    // height:60px;
    background-color: green;
    position: absolute;
    top:0;
    left:0;
    position:fixed;
}

.buttons{
    position: absolute;
    bottom:0;
    margin-left: 50px;

}

body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left, .right{
    width: 500px;
}
